* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: rgb(249, 57, 185);
  background-color: rgb(8, 3, 9);
  background-image: url("images/flatland.jpg"); /* Ensure the path is correct */
  background-size: cover; /* Ensure the entire image fits */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Fix the background */
  padding: 20px;
  margin: 0;
  height: 100%;
  width: 100%;
}


.content {
  flex: 1;
}

h1 {
  margin-top: 0;
  font-size: 5vw; /* Adjusted for responsiveness */
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw; /* Adjusted for responsiveness */
  color: white;
  text-decoration: none;
}

p {
  font-size: 1.5vw; /* Adjusted for responsiveness */
}

.profilepic-container {
  margin: 0 auto;
  width: 40vw;
  height: 40vw;
  max-width: 200px;
  max-height: 200px;
  border: 10px solid #FF69B4;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.profilepic, .profilepic-hover {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 50%;
}

.profilepic {
  z-index: 2;
  transition: z-index 0s 0.6s; /* Delay the z-index change until the flip is complete */
}

.profilepic-hover {
  transform: rotateY(180deg);
  z-index: 1; /* Ensure this is below .profilepic initially */
}

.profilepic-container:hover {
  transform: rotateY(180deg);
}

.profilepic-hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: opacity 1s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilepic-container:hover .profilepic-hover  {
  opacity: 1;
}

.container {
  background: transparent;
  object-fit: cover;
}

.intro_card, .middle_card {
  background: transparent;
  color: white;
  padding: 20px;
  border: 10px solid #FF69B4;
  box-shadow: 0 0 50px 15px #5d0330;
  margin: 10px auto;
  border-radius: 20%;
  text-align: center;
  width: 70%;
  height: 60%;
  font-family: caveat;
}

.fingerprint-button {
  width: 120px;
  height: 120px;
  opacity: 0.9;
  background-color: aqua;
  border: 5px solid aqua;
  box-shadow: 0 0 90px 15px #5d0330, 0 8px 15px 2px rgba(255, 105, 180, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.fingerprint-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 10px;
}

.fingerprint-button:hover img {
  filter: brightness(200%);
  background-color: blue;
}

.fingerprint-button:active img {
  filter: brightness(300%);
}

.middle_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  width: 80%; /* Responsive width */
}

.middle_card .item {
  flex-grow: 1;
  text-align: center;
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

.item-1, .item-2, .item-3 {
  background-color: transparent;
}

.item a {
  text-decoration: none;
  color: inherit;
  font-size: 10px;
}

.bottom_card {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  width: 80%;
  height: 100px;
  font-family: caveat;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 60px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 10px;
}

li i {
  font-size: 2em;
  text-decoration: none;
}

.glow {
  color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.fa-brands {
  color: #5DEDE4;
  font-size: 40px;
  transition: color 0.3s;
}

.fa-brands:hover {
  color: #fff;
}

.glow li a {
  font-family: caveat;
  color: aliceblue;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  h1, h2 {
    font-size: 8vw;
  }

  .profilepic-container {
    width: 75vw;
    height: 75vw;
    max-width: 150px;
    max-height: 150px;
  }

  .intro_card, .middle_card, .bottom_card {
    width: 95%;
  }

  .about-page, .project-page {
    width: 100%;
  }

  .fingerprint-button {
    width: 50px;
    height: 50px;
  }
}


  /* Add the styles for the about page */
/* Add the styles for the about page */
.about-page {
  background: rgba(31, 2, 84, 0.7);
  /* background-image: url("images/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg"); */
  color: #fff;
  padding: 20px;
  border: 10px solid #FF69B4;
  box-shadow: 0 0 50px 15px #5d0330;
  margin: 20px auto;
  border-radius: 30px;
  text-align: center;
  width: 70%;
  font-family: rubik;
}

.about-background {
  background-image: url("images/jr-korpa-7NoLliK6ntc-unsplash.jpg"); /* Replace with the path to your "About" page background image */
  /* Keep or modify other background properties as needed */
  background-size: cover;
  background-repeat: repeat;
}

/* Adjust the font size for the heading */
.about-page h1 {
  font-size: 1.5em; /* Increase the font size for the heading */
  margin-top: 10px;
}

/* Adjust the font size for the content */
.about-page p {
  font-size: 18px; /* Increase the font size for the content */
  line-height: 1.6;
}

.about-button {
  border: 3px solid white; /* Orange border */
  background-color: transparent; /* Transparent background */
  padding: 5px 60px; /* Top and bottom, Left and right padding */
  border-radius: 20px; /* Rounded corners */
  text-align: center; /* Center the text */
  cursor: pointer; /* Change cursor to indicate it's clickable */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  display: inline-block; /* Allows setting padding and width */
  margin: 20px; /* Some space around the button */
  font-size: 1em; /* Font size - can be adjusted */
}

.about-button h3 {
  margin: 0; /* Remove default margin from h3 */
  color: white; /* Text color - orange to match the border */
}
.about-button:hover {
  background-color: rgba(255, 105, 180, 0.5); /* Orange background on hover */
  color: white; /* Text color changes to white on hover */
}
@keyframes hinge {
  0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }
  20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }
  40%, 80% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; opacity: 1; }
  100% { transform: translate3d(0, 700px, 0); opacity: 0; }
}

.hinge-effect {
  animation: hinge 2s ease-in-out;
}


/* For mobile devices */
@media only screen and (max-width: 768px) {
  .about-page {
    width: 100%;
  }
}

/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-page {
    width: 50%;
  }
}
.project-page {
  background: rgba(31, 2, 84, 0.7);
  /* background-image: url("images/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg"); */
  color: #fff;
  padding: 20px;
  border: 10px solid #FF69B4;
  box-shadow: 0 0 50px 15px #5d0330;
  margin: 20px auto;
  border-radius: 30px;
  text-align: center;
  width: 70%;
  font-family: rubik;
}

.project-page a {
  color: #FF69B4;
  font-size: 25px;
  text-decoration: underline; /* Add underline for better visibility */
}

.project-background {
  /* background-image: url("images/jr-korpa-7NoLliK6ntc-unsplash.jpg"); Replace with the path to your "About" page background image */
  /* Keep or modify other background properties as needed */

  background-size: cover;
  background-repeat: repeat;
}

/* Adjust the font size for the heading */
.project-page h1 {
  font-size: 1.5em; /* Increase the font size for the heading */
  margin-top: 10px;
}

.project-page h3 {
  font-size: 1.3em;
}

/* Adjust the font size for the content */
.project-page p {
  font-size: 18px; /* Increase the font size for the content */
  line-height: 1.6;
}

/* Add this to your existing CSS */
/* Add this to your existing CSS */
/* Add this to your existing CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide overflow */
}
.modal-content {
  position: fixed; /* Fixed position */
  top: 20px; /* Start 20 pixels from the top */
  left: 20px; /* 20 pixels from the left */
  right: 20px; /* 20 pixels from the right */
  bottom: 20px; /* 20 pixels from the bottom */
  background-color: rgba(0,0,0,0.8); /* Or any color you prefer */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  border-radius: 10px; /* Optional, for rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Optional, for a drop shadow effect */
}

.contact-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#contactFormModal input[type="text"],
#contactFormModal input[type="email"],
#contactFormModal textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Comfortable padding */
    margin-bottom: 15px; /* Space between fields */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ddd; /* Subtle border */
}

#contactFormModal label {
    display: block; /* Make labels block elements */
    margin-bottom: 5px; /* Space above the input field */
    font-weight: bold; /* Make labels bold */
}

#contactFormModal textarea {
    height: 150px; /* Larger textarea for message */
}
#contactFormModal .btn {
  padding: 10px 20px; /* Larger buttons */
  font-size: 1rem; /* Larger font size */
}

#contactFormModal .btn-primary {
  background-color: #007bff; /* Primary color */
  border-color: #007bff;
}

#contactFormModal .btn-secondary {
  background-color: #6c757d; /* Secondary color */
  border-color: #6c757d;
}
#contactFormModal .modal-content {
  padding: 20px; /* Padding inside the modal content */
  background-color: #fff; /* White background for the form */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.modal-header, .modal-footer {
    padding: 20px; /* More padding for header and footer */
}


/* Adjust the top position based on content height */
@media screen and (max-height: 768px) {
  .modal-content {
    /* Center the content at 30% from the top when the content height is greater than the viewport height */
    top: 30%;
    /* Set a maximum height for the modal content */
    max-height: 70%;
    /* Enable vertical scrolling within the modal content */
    overflow-y: auto;
  }
}


/* Add styles for the close button */
.modal-close-button {
  position: fixed; /* Fixed to the viewport */
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #FF69B4;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add hover effect */
.modal-close-button:hover {
  background-color: #FF0080;
}

.button-link {
  text-decoration: none;
  color:#5DEDE4;
}

/*navbar */
.navbar-brand img {
  height: 60px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}
.navbar-nav .nav-item {
  margin-right: 10px; /* Adds some space between the buttons */
}

.navbar-nav .nav-link {
  color: white; /* Adjust the text color if needed */
}
